<html><head>
  <meta charset="UTF-8">
  <title>JuwupiterWeeb</title>
  <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/menuweb.css" type="text/css" rel="stylesheet">
  
  <style>
  #layout_principal {
    width: 100%;
  }
  
  #layout_cabecalho {
    color:black;
  }
  
  #layout_menu {
    width: 170px;
    float: left;
    padding-top: 10px;
  }
  
  #layout_conteudo {
    padding-left: 181px;
    padding-top: 10px;
  }
  
  </style><style>.cke{visibility:hidden;}</style>
  </head>
  
  <body>
  
    <div id="layout_principal">
      <div id="layout_cabecalho">
        
  
  <style>
    a.cabecalho_sair:active  {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
    a.cabecalho_sair:link    {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
    a.cabecalho_sair:visited {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
    a.cabecalho_sair:hover   {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:underline;}
  
    td.font_cabecalho1 {
      font:bold 26px Tahoma;
      color: #FFFFFF;
    }
    td.font_cabecalho2 {
      font:bold 10px Arial;
      color: #FFFFFF;
    }
    td.font_cabecalho3 {
      font:normal 9px Verdana;
      color: #FFFFFF;
    }
  </style>
  
  <table width="100%" height="60" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
      <td width="180" rowspan="3" align="center">
        <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo.png" width="122" height="49" alt="" border="0" style="position: relative; top: -3px;"></a>
      </td>
      <td>
        <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo-texto.png" alt="" width="260" height="44" border="0" style="position: relative; top: 5px;"></a>
      </td>
    </tr>
  </tbody></table>
  <div style="width: 100%; height: 14px; background-image: url('https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/bg-headtop.gif'); margin-bottom: 5px; text-align: right; color: white; padding-top: 12px; padding-right: 3px; font-family: Verdana; font-size: 10px;">
    
  </div>
      </div>
      <div id="layout_menu">
  
  <!-- Demo CSS layouts for the list menu. Pick your favourite one and customise! -->
  <!-- Remove all but one and change "alternate stylesheet" to "stylesheet" to enable -->
  <link rel="stylesheet" type="text/css" id="listmenu-v" href="https://uspdigital.usp.br/comumwebdev/libs/javascript/fsmenu/1.0RC/listmenu_v.css" title="Vertical 'Earth'">
  
  
  <!-- PUBLICO -->
  
    <ul class="menulist" id="listMenuRoot">
      <li class="menuHeader">Público</li>
      <li><a href="/convocado" title="">Relação de Convocados</a></li>

      <li><a href="/importante" title="">Recados de extrema importância</a></li>
    </ul>
      
  <div style="font-size: 7px">&nbsp;</div>
  
  
    
  
      </div>
  
      <div id="layout_conteudo">
  
  <style>
  #simplemodal-container a.modalCloseImg {
    background:
      url(images/jquery/jquery.simple.modal/x.png)
      no-repeat; /* adjust url as required */
  }
  </style>
  
  
  <style>
  a.link_cabecalho:active {
    font-family: verdana;
    font-size: 10px;
    color: olive;
    text-decoration: none
  }
  
  a.link_cabecalho:link {
    font-family: verdana;
    font-size: 10px;
    color: olive;
    text-decoration: none
  }
  
  a.link_cabecalho:visited {
    font-family: verdana;
    font-size: 10px;
    color: olive;
    text-decoration: none
  }
  
  a.link_cabecalho:hover {
    font-family: verdana;
    font-size: 10px;
    color: gray;
    text-decoration: underline
  }
  
  #my_web_cabecalho {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    width: 90%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #666666;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
  
  #my_web_cabecalho_descricao {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 10px;
  }
  </style>
  
  <div id="my_web_cabecalho">
    JUwUpiterWeeb
  </div>
  
    <br>
  
  <div align="center"> 
    <br>
    <br>
    <p>
      <a href="#"><img src="/juwupiterWeeb.png" border="0"></a>
    </p>  
    <br>
    <br>
  </div>
  
  
  <link type="text/css" rel="stylesheet" href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/home.css">
  <table width="100%" border="0" cellspacing=" 0" cellpadding=" 0" align="center">
    
    <tbody><tr>
      <td align="center"><font face="Arial, Helvetica, sans-serif" size="1"><hr size="1">
        <p class="link_olive"> Não fale conosco</a><br>
        © 2020 - 2021 - Superintendência de Tecnologia da Informação/EITS</font>
      </td>
    </tr>
  </tbody>
  </table>		
      </div>
    </div>