<html><head>
    <meta charset="UTF-8">
    <title>JuwupiterWeeb</title>
    <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/menuweb.css" type="text/css" rel="stylesheet">
    
    <style>
    #layout_principal {
      width: 100%;
    }
    
    #layout_cabecalho {
      color:black;
    }
    
    #layout_menu {
      width: 170px;
      float: left;
      padding-top: 10px;
    }
    
    #layout_conteudo {
      padding-left: 181px;
      padding-top: 10px;
    }
    
    </style><style>.cke{visibility:hidden;}</style>
    </head>
    
    <body>
    
      <div id="layout_principal">
        <div id="layout_cabecalho">
          
    
    <style>
      a.cabecalho_sair:active  {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:link    {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:visited {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:hover   {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:underline;}
    
      td.font_cabecalho1 {
        font:bold 26px Tahoma;
        color: #FFFFFF;
      }
      td.font_cabecalho2 {
        font:bold 10px Arial;
        color: #FFFFFF;
      }
      td.font_cabecalho3 {
        font:normal 9px Verdana;
        color: #FFFFFF;
      }
    </style>
    
    <table width="100%" height="60" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="180" rowspan="3" align="center">
          <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo.png" width="122" height="49" alt="" border="0" style="position: relative; top: -3px;"></a>
        </td>
        <td>
          <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo-texto.png" alt="" width="260" height="44" border="0" style="position: relative; top: 5px;"></a>
        </td>
      </tr>
    </tbody></table>
    <div style="width: 100%; height: 14px; background-image: url('https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/bg-headtop.gif'); margin-bottom: 5px; text-align: right; color: white; padding-top: 12px; padding-right: 3px; font-family: Verdana; font-size: 10px;">
      
    </div>
        </div>
        <div id="layout_menu">
    
    <!-- Demo CSS layouts for the list menu. Pick your favourite one and customise! -->
    <!-- Remove all but one and change "alternate stylesheet" to "stylesheet" to enable -->
    <link rel="stylesheet" type="text/css" id="listmenu-v" href="https://uspdigital.usp.br/comumwebdev/libs/javascript/fsmenu/1.0RC/listmenu_v.css" title="Vertical 'Earth'">
    
    
    <!-- PUBLICO -->
    
      <ul class="menulist" id="listMenuRoot">
        <li class="menuHeader">Público</li>
        <li><a href="/convocado" title="">Relação de Convocados</a></li>

        <li><a href="/importante" title="">Recados de extrema importância</a></li>
      </ul>
        
    <div style="font-size: 7px">&nbsp;</div>

		</div>

		<div id="layout_conteudo">

<style>
#simplemodal-container a.modalCloseImg {
	background:
		url(images/jquery/jquery.simple.modal/x.png)
		no-repeat; /* adjust url as required */
}
</style>


<style>
a.link_cabecalho:active {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:link {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:visited {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:hover {
	font-family: verdana;
	font-size: 10px;
	color: gray;
	text-decoration: underline
}

#my_web_cabecalho {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	width: 90%;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #666666;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#my_web_cabecalho_descricao {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
}
</style>

<div id="my_web_cabecalho">
	Relação de Convocados
</div>

	<br>

    <p>
        <b>Ano:</b>&nbsp;
        <span data-name="ano">2022</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="cpf" style="display: none;">
         </span>
        <span class="cursoLista" style="display: inline;">
            <b>Curso:</b>&nbsp;
            <span data-name="curso">Bacharelado em Sistemas de Informação (86200) - EACH</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Lista:</b>&nbsp;
            <span data-name="lista">Primeira Chamada</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </p>

    <div style="border: solid 0.5px"> 
        
        <ul>
            <li>Acacio Mendoza </li>
            <li>Adelino Quinta </li>
            <li>Adão Brasil </li>
            <li>Adélio Brandão </li>
            <li>Alceste Osorio </li>
            <li>Almerinda Paes </li>
            <li>Angelino Garrido </li>
            <li>Angélica Cirne </li>
            <li>Angélico Moita </li>
            <li>Anita Rivas </li>
            <li>Anselmo Losada </li>
            <li>Antónia Açores </li>
            <li>Antônio Varanda </li>
            <li>Araci Cordeiro </li>
            <li>Araci Pádua </li>
            <li>Araribóia Meireles </li>
            <li>Astolfo Hollanda </li>
            <li>Barnabé Regalado </li>
            <li>Bartolomeu Gonsalves </li>
            <li>Berengário Pajares </li>
            <li>Bernardina Capanema </li>
            <li>Bernardo Pinhal </li>
            <li>Branca Rocha </li>
            <li>Brígida Fontes </li>
            <li>Caio Noite </li>
            <li>Camilo Cordeiro </li>
            <li>Catarina Mota </li>
            <li>Caubi Eiró </li>
            <li>Celso Chousa </li>
            <li>Cesário Guedella </li>
            <li>Clara Bulhões </li>
            <li>Claudemiro Alencastre </li>
            <li>Conceição Morgado </li>
            <li>Conrado Mora </li>
            <li>Cosperranho Pinheiro </li>
            <li>Cristiana Peixoto </li>
            <li>Cristóvão Ayres </li>
            <li>Cássio Marins </li>
            <li>Dalila Braga </li>
            <li>Damião Mota </li>
            <li>Danilo Carrasco </li>
            <li>Deolinda Eiró </li>
            <li>Dinis Sarmiento </li>
            <li>Dionísio Barretto </li>
            <li>Diógenes Muniz </li>
            <li>Donata Bacelar </li>
            <li>Donata Gusmão </li>
            <li>Dulce Benavides </li>
            <li>Dália Carrasco </li>
            <li>Délio Peres </li>
            <li>Délio Vilela </li>
            <li>Egas Quinteiro </li>
            <li>Elisa Durán </li>
            <li>Emanuela Martins </li>
            <li>Emiliano Vides </li>
            <li>Enilda Tomé </li>
            <li>Estêvão Imperial </li>
            <li>Estêvão Monte </li>
            <li>Eugénio Estévez </li>
            <li>Evandro Albuquerque </li>
            <li>Faustino Gama </li>
            <li>Feliciano Fraga </li>
            <li>Felicidade Quintão </li>
            <li>Felícia Rivero </li>
            <li>Filena Carqueijeiro </li>
            <li>Filipe Vigário </li>
            <li>Firmino Macena </li>
            <li>Flora Quintal </li>
            <li>Florêncio César </li>
            <li>Gedeão Quadros </li>
            <li>Genoveva Anjos </li>
            <li>Genoveva Leal </li>
            <li>Gerardo Barcellos </li>
            <li>Giovana Pinheiro </li>
            <li>Girão Vieira </li>
            <li>Gisela Filipe </li>
            <li>Guadalupe Alencar </li>
            <li>Guilhermina Varejão </li>
            <li>Guterre Cavadas </li>
            <li>Gávio Leiria </li>
            <li>Heloísa Mascarenhas </li>
            <li>Hermesinda Paranaguá </li>
            <li>Hermesinda Álvaro </li>
            <li>Hernâni Castelbranco </li>
            <li>Hélder Pires </li>
            <li>Ibijara Sales </li>
            <li>Inácio Canhão </li>
            <li>Irene Beserra </li>
            <li>Isabel Lamego </li>
            <li>Isabel Malheiro </li>
            <li>Isilda Quaresma </li>
            <li>Itiberê Mainha </li>
            <li>Jordana Valle </li>
            <li>João Galvão </li>
            <li>Judá Candeias </li>
            <li>Judá Álvez </li>
            <li>Julieta Caniça </li>
            <li>Justino Alancastre </li>
            <li>Leonor Gama </li>
            <li>Leopoldo Valentim </li>
            <li>Letícia Ataíde </li>
            <li>Letícia Tabosa </li>
            <li>Levindo Cabreira </li>
            <li>Liedson Antas </li>
            <li>Luciano Anjos </li>
            <li>Luciano Gomide </li>
            <li>Lénia Bencatel </li>
            <li>Lígia Villanueva </li>
            <li>Lívia Velázquez </li>
            <li>Mafalda Brás </li>
            <li>Mafalda Meneses </li>
            <li>Magali Puerto </li>
            <li>Mara Malta </li>
            <li>Margarida Ataíde </li>
            <li>Mariano Palhares </li>
            <li>Marília Pastana </li>
            <li>Mateus Cabeça de Vaca</li> 
            <li>Mateus Dourado </li>
            <li>Maximiliano Monsanto </li>
            <li>Mbicy Alcantara </li>
            <li>Micael Faia </li>
            <li>Mileide Lisboa </li>
            <li>Milu Barcelos </li>
            <li>Moaci Torrado </li>
            <li>Mónica Moraes </li>
            <li>Napoleão Carrillo </li>
            <li>Neuza Carromeu </li>
            <li>Nicanor Godoi </li>
            <li>Nicanor Vidigal </li>
            <li>Norberto Brandán </li>
            <li>Odete Sarmento </li>
            <li>Olavo Aragão </li>
            <li>Olavo Aveiro </li>
            <li>Olavo Pacheco </li>
            <li>Olívio Cardozo </li>
            <li>Ovídio Capucho </li>
            <li>Ovídio Novalles </li>
            <li>Palmira Simão </li>
            <li>Patrício Covinha </li>
            <li>Plácido Eanes </li>
            <li>Plácido Muñiz </li>
            <li>Querubim Bragança </li>
            <li>Querubina Abrantes </li>
            <li>Quitéria Castillo </li>
            <li>Quévin Felipe </li>
            <li>Ricardina Castanheira </li>
            <li>Roberta Larangeira </li>
            <li>Roberto Rosmaninho </li>
            <li>Rodolfo Quental </li>
            <li>Roseli Vilela </li>
            <li>Salomé Canto </li>
            <li>Salomé Freyria </li>
            <li>Sara Cisneros </li>
            <li>Serafim Torrado </li>
            <li>Severino Leitão </li>
            <li>Sidônio   Lustosa </li>
            <li>Silvano Estrela </li>
            <li>Silvano Isla </li>
            <li>Socorro Villaverde </li>
            <li>Suniário Marino </li>
            <li>Susana Siebra </li>
            <li>Sílvia Passarinho </li>
            <li>Sílvio Prudente </li>
            <li>Timóteo Castello Branco </li> Branco
            <li>Tomás Vilas-Boas </li>
            <li>Vanessa Valadares </li>
            <li>Vera Fernández </li>
            <li>Veríssimo Quinterno </li>
            <li>Verónica Pereira </li>
            <li>Virgília Reis </li>
            <li>Virgília Severo </li>
            <li>Viviana Paranhos </li>
            <li>Vânia Malheiro </li>
            <li>Zoe Frois </li>
            <li>Zoraide Cachoeira </li>
            <li>Zuleica Candal </li>
            <li>Zuleide Parreira </li>
            <li>Zuriel Tristão </li>
            <li>Ágata Cintra </li>
            <li>Ítala Freyria </li>
          </ul>
    
    
    
    </div>


<link type="text/css" rel="stylesheet" href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/home.css">
<table width="100%" border="0" cellspacing=" 0" cellpadding=" 0" align="center">
  
  <tbody><tr>
    <td align="center"><font face="Arial, Helvetica, sans-serif" size="1"><hr size="1">
        <p class="link_olive"> Não fale conosco</a><br>
            © 2020 - 2021 - Superintendência de Tecnologia da Informação/EITS</font>
      © 2020 - 2021 - Superintendência de Tecnologia da Informação/EITS</font>
    </td>
  </tr>
</tbody>
</table>		
		</div>
	</div>
