<html><head>
    <meta charset="UTF-8">
    <title>JuwupiterWeeb</title>
    <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://uspdigital.usp.br/comumwebdev/imagens/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/menuweb.css" type="text/css" rel="stylesheet">
    
    <style>
    #layout_principal {
      width: 100%;
    }
    
    #layout_cabecalho {
      color:black;
    }
    
    #layout_menu {
      width: 170px;
      float: left;
      padding-top: 10px;
    }
    
    #layout_conteudo {
      padding-left: 181px;
      padding-top: 10px;
    }
    
    </style><style>.cke{visibility:hidden;}</style>
    </head>
    
    <body>
    
      <div id="layout_principal">
        <div id="layout_cabecalho">
          
    
    <style>
      a.cabecalho_sair:active  {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:link    {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:visited {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:none;}
      a.cabecalho_sair:hover   {font-family:verdana; font-weight:bold; color:#FFFFFF; text-decoration:underline;}
    
      td.font_cabecalho1 {
        font:bold 26px Tahoma;
        color: #FFFFFF;
      }
      td.font_cabecalho2 {
        font:bold 10px Arial;
        color: #FFFFFF;
      }
      td.font_cabecalho3 {
        font:normal 9px Verdana;
        color: #FFFFFF;
      }
    </style>
    
    <table width="100%" height="60" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td width="180" rowspan="3" align="center">
          <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo.png" width="122" height="49" alt="" border="0" style="position: relative; top: -3px;"></a>
        </td>
        <td>
          <a href="/"><img src="https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/usp-logo-texto.png" alt="" width="260" height="44" border="0" style="position: relative; top: 5px;"></a>
        </td>
      </tr>
    </tbody></table>
    <div style="width: 100%; height: 14px; background-image: url('https://uspdigital.usp.br/comumwebdev/imagens/cabecalho/bg-headtop.gif'); margin-bottom: 5px; text-align: right; color: white; padding-top: 12px; padding-right: 3px; font-family: Verdana; font-size: 10px;">
      
    </div>
        </div>
        <div id="layout_menu">
    
    <!-- Demo CSS layouts for the list menu. Pick your favourite one and customise! -->
    <!-- Remove all but one and change "alternate stylesheet" to "stylesheet" to enable -->
    <link rel="stylesheet" type="text/css" id="listmenu-v" href="https://uspdigital.usp.br/comumwebdev/libs/javascript/fsmenu/1.0RC/listmenu_v.css" title="Vertical 'Earth'">
    
    
    <!-- PUBLICO -->
    
      <ul class="menulist" id="listMenuRoot">
        <li class="menuHeader">Público</p>
        <p><a href="/convocado" title="">Relação de Convocados</a></p>

        <p><a href="/importante" title="">Recados de extrema importância</a></p>
      </ul>
        
    <div style="font-size: 7px">&nbsp;</div>

		</div>

		<div id="layout_conteudo">

<style>
#simplemodal-container a.modalCloseImg {
	background:
		url(images/jquery/jquery.simple.modal/x.png)
		no-repeat; /* adjust url as required */
}
</style>


<style>
a.link_cabecalho:active {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:link {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:visited {
	font-family: verdana;
	font-size: 10px;
	color: olive;
	text-decoration: none
}

a.link_cabecalho:hover {
	font-family: verdana;
	font-size: 10px;
	color: gray;
	text-decoration: underline
}

#my_web_cabecalho {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: left;
	width: 90%;
	border-bottom: solid;
	border-bottom-width: thin;
	border-bottom-color: #666666;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#my_web_cabecalho_descricao {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
}
</style>

<div id="my_web_cabecalho">
	Relação de Convocados
</div>

	<br>

    <p>
        <b>Ano:</b>&nbsp;
        <span data-name="ano">2022</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="cpf" style="display: none;">
         </span>
        <span class="cursoLista" style="display: inline;">
            <b>Curso:</b>&nbsp;
            <span data-name="curso">Bacharelado em Sistemas de Informação (86200) - EACH</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Lista:</b>&nbsp;
            <span data-name="lista">Primeira Chamada</span>&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </p>

    <div style="border: solid 0.5px"> 
        
        <ul>
            <p>Acacio Mendoza </p>
            <p>Adelino Quinta </p>
            <p>Adão Brasil </p>
            <p>Adélio Brandão </p>
            <p>Alceste Osorio </p>
            <p>Almerinda Paes </p>
            <p>Angelino Garrido </p>
            <p>Angélica Cirne </p>
            <p>Angélico Moita </p>
            <p>Anita Rivas </p>
            <p>Anselmo Losada </p>
            <p>Antónia Açores </p>
            <p>Antônio Varanda </p>
            <p>Araci Cordeiro </p>
            <p>Araci Pádua </p>
            <p>Araribóia Meireles </p>
            <p>Astolfo Hollanda </p>
            <p>Barnabé Regalado </p>
            <p>Bartolomeu Gonsalves </p>
            <p>Berengário Pajares </p>
            <p>Bernardina Capanema </p>
            <p>Bernardo Pinhal </p>
            <p>Branca Rocha </p>
            <p>Brígida Fontes </p>
            <p>Caio Noite </p>
            <p>Camilo Cordeiro </p>
            <p>Catarina Mota </p>
            <p>Caubi Eiró </p>
            <p>Celso Chousa </p>
            <p>Cesário Guedella </p>
            <p>Clara Bulhões </p>
            <p>Claudemiro Alencastre </p>
            <p>Conceição Morgado </p>
            <p>Conrado Mora </p>
            <p>Cosperranho Pinheiro </p>
            <p>Cristiana Peixoto </p>
            <p>Cristóvão Ayres </p>
            <p>Cássio Marins </p>
            <p>Dalila Braga </p>
            <p>Damião Mota </p>
            <p>Danilo Carrasco </p>
            <p>Deolinda Eiró </p>
            <p>Dinis Sarmiento </p>
            <p>Dionísio Barretto </p>
            <p>Diógenes Muniz </p>
            <p>Donata Bacelar </p>
            <p>Donata Gusmão </p>
            <p>Dulce Benavides </p>
            <p>Dália Carrasco </p>
            <p>Délio Peres </p>
            <p>Délio Vilela </p>
            <p>Egas Quinteiro </p>
            <p>Elisa Durán </p>
            <p>Emanuela Martins </p>
            <p>Emiliano Vides </p>
            <p>Enilda Tomé </p>
            <p>Estêvão Imperial </p>
            <p>Estêvão Monte </p>
            <p>Eugénio Estévez </p>
            <p>Evandro Albuquerque </p>
            <p>Faustino Gama </p>
            <p>Feliciano Fraga </p>
            <p>Felicidade Quintão </p>
            <p>Felícia Rivero </p>
            <p>Filena Carqueijeiro </p>
            <p>Filipe Vigário </p>
            <p>Firmino Macena </p>
            <p>Flora Quintal </p>
            <p>Florêncio César </p>
            <p>Gedeão Quadros </p>
            <p>Genoveva Anjos </p>
            <p>Genoveva Leal </p>
            <p>Gerardo Barcellos </p>
            <p>Giovana Pinheiro </p>
            <p>Girão Vieira </p>
            <p>Gisela Filipe </p>
            <p>Guadalupe Alencar </p>
            <p>Guilhermina Varejão </p>
            <p>Guterre Cavadas </p>
            <p>Gávio Leiria </p>
            <p>Heloísa Mascarenhas </p>
            <p>Hermesinda Paranaguá </p>
            <p>Hermesinda Álvaro </p>
            <p>Hernâni Castelbranco </p>
            <p>Hélder Pires </p>
            <p>Ibijara Sales </p>
            <p>Inácio Canhão </p>
            <p>Irene Beserra </p>
            <p>Isabel Lamego </p>
            <p>Isabel Malheiro </p>
            <p>Isilda Quaresma </p>
            <p>Itiberê Mainha </p>
            <p>Jordana Valle </p>
            <p>João Galvão </p>
            <p>Judá Candeias </p>
            <p>Judá Álvez </p>
            <p>Julieta Caniça </p>
            <p>Justino Alancastre </p>
            <p>Leonor Gama </p>
            <p>Leopoldo Valentim </p>
            <p>Letícia Ataíde </p>
            <p>Letícia Tabosa </p>
            <p>Levindo Cabreira </p>
            <p>Liedson Antas </p>
            <p>Luciano Anjos </p>
            <p>Luciano Gomide </p>
            <p>Lénia Bencatel </p>
            <p>Lígia Villanueva </p>
            <p>Lívia Velázquez </p>
            <p>Mafalda Brás </p>
            <p>Mafalda Meneses </p>
            <p>Magali Puerto </p>
            <p>Mara Malta </p>
            <p>Margarida Ataíde </p>
            <p>Mariano Palhares </p>
            <p>Marília Pastana </p>
            <p>Mateus Cabeça de Vaca</p> 
            <p>Mateus Dourado </p>
            <p>Maximiliano Monsanto </p>
            <p>Mbicy Alcantara </p>
            <p>Micael Faia </p>
            <p>Mileide Lisboa </p>
            <p>Milu Barcelos </p>
            <p>Moaci Torrado </p>
            <p>Mónica Moraes </p>
            <p>Napoleão Carrillo </p>
            <p>Neuza Carromeu </p>
            <p>Nicanor Godoi </p>
            <p>Nicanor Vidigal </p>
            <p>Norberto Brandán </p>
            <p>Odete Sarmento </p>
            <p>Olavo Aragão </p>
            <p>Olavo Aveiro </p>
            <p>Olavo Pacheco </p>
            <p>Olívio Cardozo </p>
            <p>Ovídio Capucho </p>
            <p>Ovídio Novalles </p>
            <p>Palmira Simão </p>
            <p>Patrício Covinha </p>
            <p>Plácido Eanes </p>
            <p>Plácido Muñiz </p>
            <p>Querubim Bragança </p>
            <p>Querubina Abrantes </p>
            <p>Quitéria Castillo </p>
            <p>Quévin Felipe </p>
            <p>Ricardina Castanheira </p>
            <p>Roberta Larangeira </p>
            <p>Roberto Rosmaninho </p>
            <p>Rodolfo Quental </p>
            <p>Roseli Vilela </p>
            <p>Salomé Canto </p>
            <p>Salomé Freyria </p>
            <p>Sara Cisneros </p>
            <p>Serafim Torrado </p>
            <p>Severino Leitão </p>
            <p>Sidônio   Lustosa </p>
            <p>Silvano Estrela </p>
            <p>Silvano Isla </p>
            <p>Socorro Villaverde </p>
            <p>Suniário Marino </p>
            <p>Susana Siebra </p>
            <p>Sílvia Passarinho </p>
            <p>Sílvio Prudente </p>
            <p>Timóteo Castello Branco </p> Branco
            <p>Tomás Vilas-Boas </p>
            <p>Vanessa Valadares </p>
            <p>Vera Fernández </p>
            <p>Veríssimo Quinterno </p>
            <p>Verónica Pereira </p>
            <p>Virgília Reis </p>
            <p>Virgília Severo </p>
            <p>Viviana Paranhos </p>
            <p>Vânia Malheiro </p>
            <p>Zoe Frois </p>
            <p>Zoraide Cachoeira </p>
            <p>Zuleica Candal </p>
            <p>Zuleide Parreira </p>
            <p>Zuriel Tristão </p>
            <p>Ágata Cintra </p>
            <p>Ítala Freyria </p>
          </ul>
    
    
    
    </div>


<link type="text/css" rel="stylesheet" href="https://uspdigital.usp.br/comumwebdev/libs/usp/main/1.0/home.css">
<table width="100%" border="0" cellspacing=" 0" cellpadding=" 0" align="center">
  
  <tbody><tr>
    <td align="center"><font face="Arial, Helvetica, sans-serif" size="1"><hr size="1">
        <p class="link_olive"> Não fale conosco</a><br>
            © 2020 - 2021 - Superintendência de Tecnologia da Informação/EITS</font>
      © 2020 - 2021 - Superintendência de Tecnologia da Informação/EITS</font>
    </td>
  </tr>
</tbody>
</table>		
		</div>
	</div>
